{% extends "base.html" %}
<!-- extends base.html -->
{% load static %}
<!-- load static -->
{% block content %}
<!-- block content -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index.html">Home</a></li>
          <li></li>
        </ol>
        <h2>Other Services</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="webdesign" class="blog">

      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-8 entries">
            <article class="entry">
              <div class="entry-img">
                <img src="" alt="" class="img-fluid">
              </div>
              <h2 class="entry-title">
                <b>Web Design</b>
              </h2>
              
              <div class="entry-content">
                <p>
  
                Web design refers to the process of creating and designing the visual appearance and layout of a website. It involves a combination of graphic design, user experience (UX) design, and front-end development.

A web designer is responsible for designing the overall look and feel of a website, including selecting the color scheme, typography, layout, and graphics. They also need to consider the user experience and ensure the website is easy to navigate, responsive, and accessible across different devices and screen sizes.

The ultimate goal of web design is to create a visually appealing, functional, and user-friendly website that meets the needs of the intended audience.

For more information about web design on your PandoraBox page, please call our hotline for further assistance.

                                 </p>             
                                <div class="read-more">
                  <a href="/">Home</a>
                </div>
              </div>
            </article><!-- End blog entry -->




            <article class="entry">
              <div class="entry-img">
                <img src="" alt="" class="img-fluid">
              </div>
              <h2 class="entry-title">
                <b>Graphic Design</b>
              </h2>

            

              <div class="entry-content">
                <p>
       Graphic design is the art and process of visual communication using typography, photography, and illustration to create visual representations of ideas and messages. Graphic designers use various techniques and tools to create designs for a range of media, including print, digital, and web.

The goal of graphic design is to communicate a message effectively and visually, through the use of design elements such as color, layout, and typography. A good graphic design should be aesthetically pleasing, easy to understand, and memorable.

Some common types of graphic design include branding and logo design, packaging design, web design, editorial design, and advertising design. 

For more information about graphic design on your PandoraBox page, please call our hotline for further assistance.

            <div class="read-more">
                 <a href="/">Home</a>
                </div>
              </div>

            </article><!-- End blog entry -->
          </div><!-- End blog entries list -->

        
        </div>

      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->

<!-- end block -->
{% endblock %}





