{% extends "base.html" %}
<!-- extends base.html -->
{% load static %}
<!-- load static -->
{% block content %}
<!-- block content -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index.html">Home</a></li>
          <li></li>
        </ol>
        <h2>Support</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="services" class="blog">

      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-8 entries">
            <article class="entry">
              <div class="entry-img">
                <img src="" alt="" class="img-fluid">
              </div>
              <h2 class="entry-title">
                <b>Services</b>
              </h2>
              
              <div class="entry-content">
                <p>
                 You can create content on Pandorabox in a variety of formats, such as Shorts, Live, and feature-length, and we do our best to make sure the creators who make it get paid. The PandoraBox Partner Program not only opens up qualified creators to use various monetization tools, but also provides one-on-one support services and Copyright Match Tool. Many channels rely on their own production teams and complete operating procedures to create successful careers on the platform.
                  </p>             
                                <div class="read-more">
                  <a href="/">Home</a>
                </div>
              </div>
            </article><!-- End blog entry -->
           </div>
         </div>
       </div>
    </section>


    <!-- ======= Blog Section ======= -->
    <section id="tc" class="blog">

      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-8 entries">


            <article class="entry">
              <div class="entry-img">
                <img src="" alt="" class="img-fluid">
              </div>
              <h2 class="entry-title">
                <b>Terms of service</b>
              </h2>

            

              <div class="entry-content">
                <p>
                 Respecting and fostering the growth of the PandoraBox community of creators, viewers, content rights holders and advertisers is very important to us. We provide the PandoraBox API Services to enable developers to create experiences that bring additional value to the PandoraBox ecosystem and its users. If your implementation is in breach of the PandoraBox API Services Terms of Service or has a negative impact on the PandoraBox community, we may impose limitations and prohibitions on your access to, and use of, the PandoraBox API Services.                </p>
                <div class="read-more">
                 <a href="/">Home</a>
                </div>
              </div>

            </article><!-- End blog entry -->

           </div>
         </div>
       </div>
    </section>


    <!-- ======= Blog Section ======= -->
    <section id="privacy" class="blog">

      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-8 entries">


            <article class="entry">

               <h2 class="entry-title">
                <b>Privacy policy</b>
              </h2>
              <div class="entry-content">
                <p>
Decide what type of activity you want to store in your account. For example, if you turn on the "PandoraBox History" setting, your video viewing history and search history will be stored in your account to provide you with more relevant recommendations and remember your video playback progress. 
If you turn on the "Web & App Activity" setting, your searches and activity on other services will be saved to your account to provide services that are more tailored to your needs, such as improving search efficiency and recommending more useful apps and content. 
 </p>
                <div class="read-more">
                  <a href="/">Home</a>
                </div>
              </div>

            </article><!-- End blog entry -->




          </div><!-- End blog entries list -->

          <div class="col-lg-4">

            <div class="sidebar">

              <h3 class="sidebar-title">Search</h3>
              <div class="sidebar-item search-form">
                <form action="">
                  <input type="text">
                  <button type="submit"><i class="bi bi-search"></i></button>
                </form>
              </div><!-- End sidebar search formn-->

              <h3 class="sidebar-title">Categories</h3>
              <div class="sidebar-item categories">
                <ul>
                  <li><a href="#">General <span>(25)</span></a></li>
                  <li><a href="#">Lifestyle <span>(12)</span></a></li>
                  <li><a href="#">Travel <span>(5)</span></a></li>
                  <li><a href="#">Design <span>(22)</span></a></li>
                  <li><a href="#">Creative <span>(8)</span></a></li>
                  <li><a href="#">Educaion <span>(14)</span></a></li>
                </ul>
              </div><!-- End sidebar categories-->

              <h3 class="sidebar-title">Recent Posts</h3>
              <div class="sidebar-item recent-posts">
                <div class="post-item clearfix">
                  <img src="assets/img/blog/blog-recent-1.jpg" alt="">
                  <h4><a href="blog-single.html">Nihil blanditiis at in nihil autem</a></h4>
                  <time datetime="2020-01-01">Jan 1, 2020</time>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/blog/blog-recent-2.jpg" alt="">
                  <h4><a href="blog-single.html">Quidem autem et impedit</a></h4>
                  <time datetime="2020-01-01">Jan 1, 2020</time>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/blog/blog-recent-3.jpg" alt="">
                  <h4><a href="blog-single.html">Id quia et et ut maxime similique occaecati ut</a></h4>
                  <time datetime="2020-01-01">Jan 1, 2020</time>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/blog/blog-recent-4.jpg" alt="">
                  <h4><a href="blog-single.html">Laborum corporis quo dara net para</a></h4>
                  <time datetime="2020-01-01">Jan 1, 2020</time>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/blog/blog-recent-5.jpg" alt="">
                  <h4><a href="blog-single.html">Et dolores corrupti quae illo quod dolor</a></h4>
                  <time datetime="2020-01-01">Jan 1, 2020</time>
                </div>

              </div><!-- End sidebar recent posts-->

              <h3 class="sidebar-title">Tags</h3>
              <div class="sidebar-item tags">
                <ul>
                  <li><a href="#">App</a></li>
                  <li><a href="#">IT</a></li>
                  <li><a href="#">Business</a></li>
                  <li><a href="#">Mac</a></li>
                  <li><a href="#">Design</a></li>
                  <li><a href="#">Office</a></li>
                  <li><a href="#">Creative</a></li>
                  <li><a href="#">Studio</a></li>
                  <li><a href="#">Smart</a></li>
                  <li><a href="#">Tips</a></li>
                  <li><a href="#">Marketing</a></li>
                </ul>
              </div><!-- End sidebar tags-->

            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->

<!-- end block -->
{% endblock %}





