{% extends 'base.html' %}
{% block content %}
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
        <ol>
            <li><a href="">Home</a></li>
            <li>Login</li>
        </ol>
        <h2>Login</h2>
        </div>
    </section>
    <!-- End Breadcrumbs -->
    <!--Login form-->
    <div class="container">
        {% include 'partials/_alerts.html' %}
        <br>
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="username" class="form-control"  placeholder="Username" required>
            </div>
            <br>
            <div class="form-group">
                <input type="password" name="password" class="form-control"  placeholder="Password" required>
            </div>
            <br>
            <input type="submit" value="Login" class="btn btn-secondary btn-block" />    
        </form>
    </div>
    <br>
{% endblock %}